@import "tailwindcss";

@theme {
  --color-tracker-dark: #89986D;
  --color-tracker-base: #9CAB84;
  --color-tracker-light: #C5D89D;
  --color-tracker-bg: #F6F0D7;
}

body {
  background-color: var(--color-tracker-bg);
  color: #1a1a1a;
}